<mat-card-content>
<!-- <form>            -->
<div class="contains"> 
    <img src = 'assets/images/loginpageimage.jpg'  class="floatRight">
    <div class="container" style="max-width: 550px"></div>
    <div class="login-box">
     <h1><b> <img src='assets/images/loginpageimage.jpg' class="floatSmall">
        logoholder</b></h1> 
    <h1 style="font-family: Verdana;">
        Get started form here
    <h5>Choose your role form below</h5>
    </h1>

    
     
    <div>
        <mat-form-field>
            <label>FULL NAME</label>
            <input type="text" class="label-input">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field>
            <label>EMAIL ADDRESS</label>
            <input type="text" class="label-input">
        </mat-form-field>
    </div>

    <div class="input">
        <mat-form-field>
            <label>PASSWORD</label>
            <input type="password" class="label-input">
        </mat-form-field>
    </div>
    
    <button mat-raised-button type="submit" color="primary" style="width : 14em;" (click)="submit()">Button Text</button>

    <div class="input">
        <p>Already have an account?
            <span style="color: blue">Text</span>

        </p>
           </div>
               </div>
                   </div>
                </mat-card-content>
                        <!-- </form> -->

                    


